@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "lilu";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25% 0.09 281.288);
  --color-base-200: oklch(35% 0.144 278.697);
  --color-base-300: oklch(39% 0.195 277.366);
  --color-base-content: oklch(93% 0.034 272.788);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(71% 0.143 215.221);
  --color-secondary-content: oklch(98% 0.019 200.873);
  --color-accent: oklch(69% 0.17 162.48);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(35% 0.144 278.697);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui" {
  root: "root";
  themes: light --default, dark --prefersdark, lilu;

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

img {
  image-rendering: auto;
}

p.status  {
  color: white !important;
  width:100%;
  height: 25px;
}